@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

$myColors: (
  "blue1":$blue,
  "blue-light":$blue-light,
  "red":$red,
  "light-grey":$light-grey,
  "black":$black,
  "white":$white,
  "white1":$white1,
  "darkBlue": $blue-dark
);

body {
  // letter-spacing: .6px;
}

$fws: (
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
  "600": 600,
  "700": 700,
  "800": 800,
);

@each $name,
$weight in $fws {
  $index: index($fws, $weight );

  .fw#{$name} {
    font-weight: $weight !important;
  }
}

@each $name,
$colors in $myColors {
  $index: index($myColors, $colors );

  .text-#{$name} {
    color: $colors !important;
  }

  .bg-#{$name} {
    background-color: $colors;
  }

  .bc-#{$name} {
    border-color: $colors !important;
  }
}

.container {
  padding: 0 40px !important;
}

.btn {
  @include btn;
}

.btnPrimary {
  @include btn-primary;
}

.btnSecondary {
  @include btn-secondary;
}

.smallBtn {
  padding: 4px 16px;
  font-size: 14px
}

.btnDark {
  @include btn;
  border-radius: 20px;
  // border: 1px solid #FFF;
  background: #d9d9d931;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}


.title1 {
  display: flex;
  gap: 10px;
  align-items: center;
  color: $black;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 114.286% */
}

.title12 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 36px */
}

.title2 {
  color: $black;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
}

.title2500 {
  color: $black;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 30px */
}

.title3 {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title4 {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 177.778% */
}

.titleSmall {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 200% */
}

.titleSmall1 {
  color: rgba(0, 0, 0, 0.75);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 184.615% */
}

.titleBold {
  color: $grey;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titleSmall1 {
  color: $grey;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: $black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  /* 30px */
}

.smallText {
  color: $grey;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 200% */
}

.linkTextPrimary {
  color: $blue;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
  /* 150% */
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}


.errorText {
  color: rgb(228, 81, 81);
}

.dropdown {
  color: inherit;
  box-shadow: none;


  button {
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  button::after {
    display: none;
  }
}

.table {
  // margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);

  tbody {
    tr {
      td {
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);


        .userAvatarList {
          display: flex;

          .item {
            aspect-ratio: 1;
            width: 25px;
            position: relative;

            &::after {
              position: absolute;
              background-color: #FFCCBC;
              border-radius: 50px;
              border: 1px solid rgba(0, 0, 0, 0.05);
              width: 30px;
              height: 30px;
              left: 0;
              top: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              content: attr(data);

              color: var(--grey-grey-600, #44464C);
              text-align: center;
              font-family: Montserrat;
              font-size: 11px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;

            }
          }
        }

      }
    }

    tr:nth-child(even) {
      border: 1px solid rgba(0, 0, 0, 0.10);

      td {
        background: #FAFAFA;
      }

    }
  }


  thead th {
    background-color: $blue-light;
  }

  th,
  td {
    padding: 15px 1.5rem !important
  }
}

.verticalScroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: inherit;
    border: none;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.4);
  }
}