@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype')
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format('truetype')
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format('truetype')
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype')
}