$blue: #3771C3;
$blue-light: #DDEAF9;
$blue-light-1: #EEF5FC;
$blue-light-2: #BCD6F3;
$blue-light-3: #ACCCF0;
$dark-blue: #3167B1;

$red: #E53935;
$grey: #424242;
$light-grey: #F5F5F5;
$light-grey1: #FAFAFA;
$black: #000;
$white: white;
$white1: #F8F8F8;


$root-font-size: 16px;
$fs: 40;
$line-height: 38;
$fw: 800;
$height: 700;