@import "../../assets/scss/abstracts";

.productSection {
    // padding: 40px 30px;
    position: relative;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;


    .popup {
        background-color: $white;
        width: 85%;
        height: 100%;
        z-index: 100;
    }

    .navLinkSidebar {
        grid-row: span 2;
        background: #FFF;
        box-shadow: 4px 0px 8px 0px rgba(49, 103, 177, 0.24);
        z-index: 2;
    }

    .sideHeader {
        padding: 12px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);

        .blueText {
            color: #3771C3;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 100% */

            display: flex;
            align-items: center;
        }
    }

    .mainHeader {

        padding: 12px 18px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);

        .newExpBtn {
            max-width: 220px;
        }

        .filterSelect {

            padding: 8px 15px 8px 15px;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            background: #FFF;
            // width: 100%;
            min-width: 260px;
        }
    }

    .main {
        flex: 1;
        overflow: auto;

        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #FFF;
        box-shadow: 0px 2px 2px 0px rgba(17, 54, 92, 0.10);
        padding: 15px 10px;



        .table {
            // margin-top: 20px;
            border: 1px solid rgba(0, 0, 0, 0.10);

            tbody {
                tr {
                    td {
                        border-top: 1px solid rgba(0, 0, 0, 0.10);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                       
                        .userAvatarList {
                            display: flex;

                            .item {
                                aspect-ratio: 1;
                                width: 30px;
                                position: relative;
                                border-radius: 50px;
                                color: white;

                                &::after {
                                    position: absolute;
                                    // background-color: #FFCCBC;
                                    border-radius: 50px;
                                    border: 1px solid rgba(0, 0, 0, 0.05);
                                    width: 30px;
                                    height: 30px;
                                    left: 0;
                                    top: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    content: attr(data);

                                    // color: var(--grey-grey-600, #44464C);
                                    text-align: center;
                                    font-family: Montserrat;
                                    font-size: 11px;
                                    font-style: normal;
                                    font-weight: 900;
                                    line-height: normal;

                                }
                            }
                        }

                    }
                }

                tr:nth-child(even) {
                    border: 1px solid rgba(0, 0, 0, 0.10);

                    td {
                        background: #FAFAFA;
                    }

                }
            }


            thead th {
                background-color: $blue-light;
            }

            th,
            td {
                padding: 15px 1.5rem !important
            }
        }
    }
}