@import "../../../assets/scss/abstracts";

.topbar {
    background-color: $light-grey1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

    .container {
        padding: 25px 35px;
        display: flex;
        justify-content: space-between;

        .step {
            color: #000;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }

        .stepDesc {
            color: #000;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 120% */
        }

        .multiStepHorizontal {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .horizontalLine {
                position: absolute;
                width: 100%;
                border: 0.5px solid rgba(0, 0, 0, 0.20);
                ;
                top: 50%;
            }

            .multiStepItem {
                width: 50px;
                aspect-ratio: 1/1;
                background-color: $white;
                border-radius: 50px;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.20);

                color: #000;
                text-align: center;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;

                span {

                    opacity: 0.6;
                }

                /* 120% */
                /* 120% */
            }
        }
    }
}