@import "../abstracts";

.layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    // max-width: 1920px;
    // max-height: 1080px;
    // margin: auto;
    // box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.05);
    // pointer-events: none;
}

.main {
    position: relative;
    height: 100%;
    overflow: auto;
}

.main:has(> .popupContainer) {
    overflow: hidden;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}