@import "../abstracts";

.layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    // pointer-events: none;
}

.main {
    position: relative;
    height: 100%;
    overflow: auto;
}

.main:has(> .popupContainer) {
    overflow: hidden;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}