.middlebar {
  padding: 18px 45px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;

  .label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
  .value {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
  .input {
    width: 50px;
    height: 30px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #0000001F;
    background-color: #F5F5F5;
  }
}
