@import "../../../../assets/scss/abstracts";

.parent {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr auto;
    // height: 100%;

    .main {
        padding: 30px 40px;
    }
} 
.activeWash {
    color: $blue;
}

.dropzone {
    // width: 350px;
    max-height: 400px;
    aspect-ratio: 3.8/2;
    background-color: $blue-light-2;
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(55, 113, 195, 0.20);
    flex-direction: column;
    font-weight: 600;
}

.imgContainer {
    max-height: 400px;
    aspect-ratio: 3.8/2;
    position: relative;
    border: 1px solid rgba(55, 113, 195, 0.20);
    background-color: white;


    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}