@import "../../../../assets/scss//abstracts";

.parent {
    // max-width: 270px;

    .item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        background: #FFF;

        .content {
            max-width: 300px;
        }

    }
}