@import "../../../assets/scss/abstracts";

.topbar {
    background-color: $light-grey1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding: 18px 0;

    .section {
        display: flex;
        justify-content: space-between;

        .step {
            color: #000;
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .stepDesc {
            color: #000;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 133.333% */
        }

        .linkSection {

            .multiStepHorizontal {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .horizontalLine {
                    position: absolute;
                    width: 100%;
                    border: 0.5px solid rgba(55, 113, 195, 0.20);
                    ;
                    top: 50%;
                }

                .multiStepItem {
                    width: 50px;
                    aspect-ratio: 1/1;
                    background-color: $white;
                    border-radius: 50px;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(55, 113, 195, 0.20);
                    background-color: $blue-light-1;
                    color: $blue;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24px;

                    &.active {
                        background-color: $blue;
                        color: white !important;
                    }

                    span {

                        opacity: 0.6;
                    }

                    /* 120% */
                    /* 120% */
                }
            }

            .activityLink {
                color: #3771C3;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                display: flex;
                gap: 10px;
                align-items: center;
                /* 24px */
            }
        }
    }
}