@import "../../../assets/scss/abstracts";

.item {
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;

    &.active {
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #3167B1;

        div {

            color: white ;
        }
    }

    .avatar {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 50px;
        color: black !important;
        background-color: #F8BBD0;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }
    .groupEdit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    
        input {
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        //   border: transparent;
          padding: 6px 8px;
          border-radius: 3px;
          width: 160px;
        }
        
      }
      .actionIcons {
        display: flex;
        justify-content: end;
        align-items: center;
      }
      .icon {
        border: 1px solid black;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background-color: #FFFF;
         
      }
}