@import "../../../assets/scss/abstracts";

.input {
    input {
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, 0.20);
        max-width: 364px;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
    }

    input {
        width: 269px;
        padding: 12px 20px;
    }

    input[type='text'],
    input[type='select'] {
        width: 364px;
    }

    input:focus {
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: none;
    }

    .errorText {
        color: rgb(228, 81, 81);
    }

}